In [1]:
import pandas as pd 
import json

####  reading and loading the json

In [2]:
json_data = open('orders_etl.json', 'r')
loaded_data = json.load(json_data)

In [3]:
## Trying to see if I can read_json and convert to csv via tocvs method
# # print(data)
# df = pd.read_json('/Users/mohammedsohailkhan/Desktop/PythonMLDLNLP/DataAnalysisPython/Python4DS/DataEngineering_Projects/AWS_ETL_E2E/AWS_ELT_E2E/orders_etl.json')
# print(df)  # --- have to flatten the data of customer as its in dictionary format

####  function to flatten(converting into tabular structure) the data

In [4]:
# passing the json data and flattening it, creating a pandas 
# data frame of the data and returning the dataframe

def flatten_data(data):
    orders_data = []
    for order in loaded_data:
        for product in order['products']:
            row_orders = {
                'order_id': order['order_id'],
                'order_date': order['order_date'],
                'total_amount':order['total_amount'],
                'customer_id': order['customer']['customer_id'],
                'customer_name': order['customer']['name'],
                'email' : order['customer']['email'],
                'address': order['customer']['address'],
                'product_id': product['product_id'],
                'product_name': product['name'],
                'category': product['category'],
                'price' : product['price'],
                'quantity': product['quantity']
     
            }
            orders_data.append(row_orders)
    df_orders = pd.DataFrame(orders_data)
    return df_orders

df = flatten_data(loaded_data)

In [5]:
df

,order_id,order_date,total_amount,customer_id,customer_name,email,address,product_id,product_name,category,price,quantity
0,1,2024-01-10,200.5,101,John Doe,johndoe@example.com,123 Main StSpringfield,P01,Wireless Mouse,Electronics,25.0,2
1,1,2024-01-10,200.5,101,John Doe,johndoe@example.com,123 Main StSpringfield,P02,Bluetooth Keyboard,Electronics,45.0,1
2,2,2024-01-12,150.0,102,Jane Smith,janesmith@example.com,456 Oak StSpringfield,P03,Laptop Stand,Electronics,75.0,1
3,3,2024-01-12,120.0,103,Alice Johnson,alicejohnson@example.com,789 Birch StSpringfield,P04,Gaming Headset,Electronics,60.0,2
4,4,2024-01-13,300.5,101,John Doe,johndoe@example.com,123 Main StSpringfield,P01,Wireless Mouse,Electronics,25.0,3
5,4,2024-01-13,300.5,101,John Doe,johndoe@example.com,123 Main StSpringfield,P02,Bluetooth Keyboard,Electronics,45.0,2
6,5,2024-01-14,180.0,104,Bob Brown,bobbrown@example.com,101 Maple StSpringfield,P03,Laptop Stand,Electronics,75.0,1
7,5,2024-01-14,180.0,104,Bob Brown,bobbrown@example.com,101 Maple StSpringfield,P04,Gaming Headset,Electronics,60.0,1
8,6,2024-01-14,250.0,105,Sania,sania@example.com,102 Pine StSpringfield,P01,Wireless Mouse,Electronics,25.0,2
9,6,2024-01-14,250.0,105,Sania,sania@example.com,102 Pine StSpringfield,P02,Bluetooth Keyboard,Electronics,45.0,2
10,6,2024-01-14,250.0,105,Sania,sania@example.com,102 Pine StSpringfield,P04,Gaming Headset,Electronics,60.0,1
11,7,2024-01-16,180.0,106,Rohit,rohit@example.com,103 Cedar StSpringfield,P02,Bluetooth Keyboard,Electronics,45.0,2
12,7,2024-01-16,180.0,106,Rohit,rohit@example.com,103 Cedar StSpringfield,P05,Desk Organizer,Furniture,30.0,1
13,8,2024-01-16,230.0,107,Nina Patel,ninapatel@example.com,104 Birch StSpringfield,P01,Wireless Mouse,Electronics,25.0,3
14,8,2024-01-16,230.0,107,Nina Patel,ninapatel@example.com,104 Birch StSpringfield,P03,Laptop Stand,Electronics,75.0,1
15,9,2024-01-17,310.0,108,Tom Harris,tomharris@example.com,105 Oak StSpringfield,P04,Gaming Headset,Electronics,60.0,2
16,9,2024-01-17,310.0,108,Tom Harris,tomharris@example.com,105 Oak StSpringfield,P02,Bluetooth Keyboard,Electronics,45.0,2
17,10,2024-01-18,130.0,109,Eva Lee,evalee@example.com,106 Elm StSpringfield,P05,Desk Organizer,Furniture,30.0,1
18,10,2024-01-18,130.0,109,Eva Lee,evalee@example.com,106 Elm StSpringfield,P03,Laptop Stand,Electronics,75.0,1
19,11,2024-01-18,250.0,101,John Doe,johndoe@example.com,123 Main StSpringfield,P04,Gaming Headset,Electronics,60.0,2
20,11,2024-01-18,250.0,101,John Doe,johndoe@example.com,123 Main StSpringfield,P02,Bluetooth Keyboard,Electronics,45.0,2
21,12,2024-01-19,180.0,103,Alice Johnson,alicejohnson@example.com,789 Birch StSpringfield,P01,Wireless Mouse,Electronics,25.0,2
22,12,2024-01-19,180.0,103,Alice Johnson,alicejohnson@example.com,789 Birch StSpringfield,P05,Desk Organizer,Furniture,30.0,1

In [6]:

## Reading the events trigger information 
# dictionaries  inside a dictionary --- data type of the event trigger 
event_trigger = {'Records': [{'eventVersion': '2.1', 'eventSource': 'aws:s3', 'awsRegion': 'us-east-2', 'eventTime': '2025-08-03T17:35:58.927Z', 'eventName': 'ObjectCreated:Put', 'userIdentity': {'principalId': 'A1RRNTX8QRU3XT'}, 'requestParameters': {'sourceIPAddress': '141.140.229.82'}, 'responseElements': {'x-amz-request-id': '7DE71VJX2R8CG7VE', 'x-amz-id-2': 'WKJgVwnS1wLXaWEzmYsFjV3dRWvHbiUNlSSHNViiGNtjiEaa06pmmBaWcsn+fY1Zhdn5XGl28CB1igxMywPp+npY9cNkK3v5h+Nr7UqdOJU='}, 's3': {'s3SchemaVersion': '1.0', 'configurationId': 'f519e6b9-af5e-4dac-914c-5b1606b5013b', 'bucket': {'name': 'sohails-aws-etl-project', 'ownerIdentity': {'principalId': 'A1RRNTX8QRU3XT'}, 'arn': 'arn:aws:s3:::sohails-aws-etl-project'}, 'object': {'key': 'json-incomin-data/orders_etl.json', 'size': 6959, 'eTag': 'f8abff6dd94bfc7add8916ae91a16b60', 'sequencer': '00688F9DFEE45B51A7'}}}]}
current_bucket_name = event_trigger['Records'][0]['s3']['bucket']['name']

In [7]:
current_bucket_name

'sohails-aws-etl-project'

In [8]:
file_object_name = event_trigger['Records'][0]['s3']['object']['key']
file_object_name

'json-incomin-data/orders_etl.json'

#### Using the bucket name in AWS lambda to deploy trigger event